Binaries/Debug
workFile_autosave
SharedData/captureStudent_autosave/
.vs
Builds/*/x64
Builds/VisualStudio2022/RuleMapPool_App.vcxproj

Builds/VisualStudio2022/RuleMapPool_App.vcxproj.filters

Binaries/Release/

Binaries/

RuleMaPool-win-x64-bleedingedge.exe

.DS_Store
*.DS_Store

Release/

External/vlc/lib/pkgconfig/

External/vlc/lib/osx/.DS_Store

site/

SpiderMap-win-x64-bleedingedge.exe
